@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Montserrat'); 
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');


body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.hed{
    margin-top: 30px;
    padding-left: 0;
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;
    width: 1870px;
    height: 1000px;
    background-size:cover;
    background-position: center; 
/* -webkit-filter: blur(1px);
  filter: blur(1px); */
}
.main-nav{
    float:right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li{
    display: inline-block;
}

.main-nav li a{
    color: rgb(77, 72, 72);
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;


}
.main-nav li.active a{
    border: 2px solid black;

}

.main-nav li a:hover{
    border: 2px solid black;
}

.about_us{
    margin-top: 200px;
    margin-left: 300px;
    margin-bottom: 200px;
    float: left;
    width: 50%;
    font-family: 'Playfair Display', serif;
}

.about_us p{
    font-size: 25px;
}

.poem{
 
    
  float: left;
    margin-top: 200px;
    margin-left: 100px;
    margin-bottom: 200px;
    font-family: 'Pacifico', cursive;
  font-size:30px; 
 
}
/* .slide1{
    margin-top: 500px;
    width: 1870px;
    height: 500px;
}

slider{
    margin-left: 80px;
    margin-bottom :200px; 
    display: block;
    width: 1700px;
    height: 400px;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;

}
slider >*{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
}

slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url("cafe2.jp");
    background-size: cover;
    background-position: center;

}

slide:nth-child(2){
   
    animation-delay: 2s;
    background-image: url("home1.jpg");
    background-size: cover;
    background-position: center;

}

slide:nth-child(3){
 
    animation-delay: 5s;
    background-image: url("cafe1.jpg");
    background-size: cover;
    background-position: center;

}

slide:nth-child(4){
    left: 0%;
    animation-delay: 8s;
    background-image: url("4cafe.jpg");
    background-size: cover;
    background-position: center;

}

slide p{
    font-family: comfortaa;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 100px;
    color: #fff;

}

@keyframes slide{
    0% {left: 100%; width: 100%; }
    5% {left: 0%;}
    25% {left: 0%;}
    30% {left: -100%; width: 100%;}
    30.001% {left: -100%; width: 0%;}
    100% {left: 100%; width: 0%;}


} */

.slidershow{
    height:600px ;
    width: 1700px ;
    overflow: hidden;
   
}
.middle {
    margin-top: 1400px;
    margin-left:50px; 
    margin-bottom: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.navigation {
    position: absolute;
    bottom:20px ;
    left: 50px;
    transform: translateX(-50%);
    display: flex;
   margin-left: 800px; 

}

.bar {
    width: 70px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.bar:hover{
    background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{

    width: 20%;
    transition: 0.6s;
}

.slide img {
    -webkit-filter: blur(1px);
  filter: blur(1px);
    width: 100%;
    height: 100%;
}

#r1:checked~ .s1{
    margin-left: 0;
}

#r2:checked~ .s1{
    margin-left: -20%;
}


#r3:checked~ .s1{
    margin-left: -40%;
}
#r4:checked~ .s1{
    margin-left: -60%;
}
/* ############### second slide*/
.middle2 {
    margin-top: 2200px;
    margin-left:50px; 
    margin-bottom: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

input[name="k"]{
    position: absolute;
    visibility: hidden;
}

#k1:checked~ .s2{
    margin-left: 0;
}

#k2:checked~ .s2{
    margin-left: -20%;
}


#k3:checked~ .s2{
    margin-left: -40%;
}
#k4:checked~ .s2{
    margin-left: -60%;
}


/* ###############  third slide*/

.middle3 {
    margin-top: 3000px;
    margin-left:50px; 
    margin-bottom: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

input[name="l"]{
    position: absolute;
    visibility: hidden;
}

#l1:checked~ .s3{
    margin-left: 0;
}

#l2:checked~ .s3{
    margin-left: -20%;
}


#l3:checked~ .s3{
    margin-left: -40%;
}
#l4:checked~ .s3{
    margin-left: -60%;
}





.rating{
    margin-top: 2000px;
    margin-left:200px; 
}



